html {
  background-color: #98a6bd;
  text-align: center;
}

.top-div {
  background-color: #e5eff5;
  width: 50%;
  height: 175px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.top-div-text {
  top: 30px;
  position: relative;
  font-family: sans-serif;
  color: #999999;
  margin-left: 30px;
  margin-right: 30px;
}

.thirty-day {
  color: #99b229;
}

.left-div {
  background-color: #1a7170;
  width: 25%;
  height: 225px;
  display: inline-block;
  position: relative;
  left: 2px;
  bottom: 7px;
}

.left-text {
  font-family: sans-serif;
  text-align: left;
  margin-left: 30px;
}

.dollar {

}

.full-access {
  position: relative;
  font-size: .90em;
  margin-bottom: 20px;
  top: -10px;
}

.per-month {
  display: inline-block;
  position: relative;
  margin: 0 0 0 5px;
  bottom: 3px;
  color: #bcbcbc;
}

.right-div {
  background-color: #218e8c;
  width: 25%;
  height: 225px;
  display: inline-block;
  position: relative;
  right: 2px;
}

.right-text {
  font-family: sans-serif;
  text-align: left;
  margin-left: 30px;
}

.right-div-p {
  font-size: .75em;
  line-height: .5;
  color: #bcbcbc;
}

.button {
  background-color: #99b229;
  border: none;
  color: #e5eff5;
  padding: 15px 82px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 5px rgb(0 0 0 / 20%);
}

.full-access {
  color: #bcbcbc;
}

h2 {
  margin: 0;
  position: relative;
  display: inline-block;
  color: #bcbcbc;
}

h3 {
  color: #1a7170;
}

h4 {
  margin: 25px auto 25px auto;
  color: #bcbcbc;
}
